@import "./variaveis";

body {
  background: $black;
  color: $white;
  font-family: "DM Sans", sans-serif;
}

.container {
  max-width: 1180px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

h2 {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;

  & > a {
    font-size: 2.6rem;
    color: $white;
    font-weight: 700;
  }

  nav ul {
    display: flex;

    li + li {
      margin-left: 35px;
    }

    a {
      font-size: 1.8rem;
      padding: 10px;
      color: $white;
    }
  }
}

#hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 45px;

  h1 {
    font-size: 3.6rem;
    line-height: 47px;
  }

  p {
    color: $gray-300;
    margin: 20px 0 35px 0;
  }

  a {
    padding: 12px 18px;
    border: 1px solid $gray-500;
    color: $white;
    font-size: 1.4rem;
    font-weight: 500;
    display: inline-block;

    &.btn {
      margin-right: 15px;
      padding: 13px 25px;
      background: $green;
      color: $black;
      border: none;
    }
  }
}

#sobre {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 90px;

  & > p {
    color: $gray-300;
    max-width: 745px;
    text-align: center;
    font-size: 1.8rem;
    margin: 0 auto;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 850px;
    margin: 85px auto 0 auto;

    div {
      background: $gray-700;
      padding: 15px;
      display: inline-block;
      border-radius: 50%;
      margin: 0 auto;

      img {
        width: 32px;
      }
    }

    h3 {
      font-size: 1.8rem;
      margin: 20px 0 5px 0;
    }

    p {
      color: $gray-300;
    }

    li {
      text-align: center;
    }
  }
}

#projetos {
  padding: 30px 0;
  margin-top: 70px;

  h2 {
    margin-bottom: 10px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .card {
    background: $gray-700;
    border: 1px solid $gray-500;
    max-width: 350px;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    border-radius: 3px;
    color: $white;
    text-decoration: none;

    h3 {
      font-size: 1.8rem;
      margin: 20px 0 5px 0;
      font-weight: 500;
    }

    p {
      font-size: 1.4rem;
      color: $gray-300;
    }
  }
}

#servicos {
  padding: 30px 0;
  margin-top: 70px;

  h2 {
    margin-bottom: 10px;
  }

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .card {
    flex: 1;
    background: $gray-700;
    border: 1px solid $gray-500;
    border-bottom: 5px solid $green;
    max-width: 350px;
    min-width: 240px;
    display: inline-block;
    padding: 30px;
    margin: 20px;
    border-radius: 3px;
    color: $gray-300;
    text-decoration: none;

    h3 {
      font-size: 3.2rem;
      margin-top: 40px;
      font-weight: 500;
    }
  }
}

#skills {
  padding: 30px 0;
  margin-top: 70px;

  h2 {
    margin-bottom: 10px;
  }

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .card {
    background: $gray-700;
    border: 1px solid $gray-500;
    width: 150px;
    margin: 20px;
    border-radius: 3px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

footer {
  text-align: center;
  background: $gray-700;
  padding: 20px 0;
  margin-top: 150px;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 30px;
  }

  header {
    flex-direction: column;

    & > a {
      font-size: 2.4rem;
      margin-bottom: 30px;
    }
  }

  #hero {
    margin-top: 25px;
    justify-content: center;
    text-align: center;

    h1 {
      font-size: 3.2rem;
    }

    img {
      display: none;
    }
  }

  #sobre {
    margin-top: 30px;
    ul {
      margin: 60px auto 0 auto;
      flex-direction: column;
      align-items: center;

      li + li {
        margin-top: 50px;
      }
    }
  }

  #projetos,
  #servicos,
  #skills {
    margin-top: 30px;
  }

  footer {
    text-align: center;
    background: $gray-700;
    padding: 20px 0;
    margin-top: 70px;
  }
}

@media screen and (max-width: 560px) {
  header {
    nav ul {
      justify-content: space-between;
      flex-wrap: wrap;
      width: 300px;

      li + li {
        margin-left: 0;
      }

      a {
        margin-top: 20px;
        border: 1px solid $white;
        text-align: center;
        width: 140px;
        display: inline-block;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  header {
    nav ul {
      width: 280px;

      a {
        width: 130px;
        font-size: 1.6rem;
      }
    }
  }

  #hero {
    a {
      display: block;
      width: 100%;

      &.btn {
        margin-bottom: 20px;
      }
    }
  }
}
